<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='../static/css.css'> 
    <script defer src="../static/java_script.js"> </script>

</head>
<body class="body2">
    <div class="mainGrid">
      <header>
        <div class="container">
          <div class="parkingNav">
            <h1 class="logo">My Clinic</h1>
            <nav>
              <ul>
                <li><a href="Main.html">Home</a></li>
                <li><a href="Search a doctor.html">Doctor Search</a></li>
                <li><a href="log in.html">Log in</a></li>
                <li><a href="sign up.html">Sign up</a></li>
                <li><a href="contact us.html">Contact us</a></li>

              </ul>
            </nav>
          </div>
        </div>
        <div class="tohen">
                <div class="form_container">
                    <span >
                        <img src="https://thumbs.dreamstime.com/b/businessman-holding-smartphone-show-message-contact-us-cartoon-vector-illustration-72632912.jpg" alt="alternatetext" style="width: 250px; height: 300px; position: static; display:flow-root; margin-right: 50%; >
                    </span>
                <form action="" method="">
                    <div>
                        <h2>What's On Your Mind?</h2>
                        <label for="massage"></label>
                        <input id="massage"  type="text" id="massage" name="massage" style="border-color: rgb(118, 118, 118);" ;><br>
                        <input class="BTNS" type="submit" value="Send" onclick="thanks()"/>
                    </div>
                </form>      
                  
        </div>
    </div>
    </body>
</html>