extends layout 
block content
    .tohen
      .form_container
        .title_container
          h2 Whats On Your Mind?
        .row.clearfix
          //span
          form(action='/contactus' method='post')
            div
              span 
                label(for='message')
                //input#massage(type='text' name='message' style='border-color: rgb(118, 118, 118);' )
                textarea#message(name='message' style='border-color: rgb(118, 118, 118);')
              br
              input.BTNS(type='submit' value='Send' onclick='thanks()')
        br
        h2  #{var1}
        br
