extends layout 
block content
  .tohen
    .form_container
      .title_container
        h1 Log In Form
      .row.clearfix
        form.login(action='/login' method='post')
          div
            span
              i.fa.fa-envelope(aria-hidden='true')
            input.input_field(type='email' name='email' placeholder='Email' required='')
          div
            span
              i.fa.fa-lock(aria-hidden='true')
            input.input_field(type='password' name='password' placeholder='Password' required='')
            br
            h2  #{var1} 
            br
          button.BTNS
            span.button__text Log In
            i.button__icon.fas.fa-chevron-right
            
            