extends layout 
block content
  .buttons_grid
    .buttonsContainer

  .WhoAreWe_grid
    span.WhoAreWe
      h1 Who Are We?
      h2
        | Your easy way to find a doctor!
        | Just enter the details and get the information you need
      p
        | The site was designed to provide its members with the highest level of online service. The site allows for easy orientation and convenient and safe access to finding a doctor
      img(src='https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/25042/1536996501-clipart-md.png' alt='alternatetext' style='width: 150px;height: 200px; margin-left: 80%; margin-top: 1%;')
