extends layout 
block content
    .tohen
      .form_container
        .title_container
          h2 Sign Up To The System
        .row.clearfix
          form(action='/signup' name='my-form' method='post' onsubmit='return ValidationFunction()')
            div
              span
                i.fa.fa-envelope(aria-hidden='true')
              input#email.input_field(type='email' name='email' placeholder='Email' required='')
            br
            div
              span
                i.fa.fa-lock(aria-hidden='true')
              input#password.input_field(type='password' name='password' placeholder='Password' required='')
            br
            div
              span
                i.fa.fa-lock(aria-hidden='true')
              input#repassword.input_field(type='password' name='repassword' placeholder='Type Password Again' required='')
            br
            div
              span
                i.fa.fa-user(aria-hidden='true')
              input#fname.input_field(type='text' name='fname' placeholder='First Name' required='')
            br
            div
              span
                i.fa.fa-user(aria-hidden='true')
              input#lname.input_field(type='text' name='lname' placeholder='Last Name' required='')
            br
            div
              span
                i.fa.fa-user(aria-hidden='true')
              input#age.input_field(type='age' name='age' placeholder='Age' required='')
            br
            div
              select.input_field(name='gender')
                option(value='Other') Other
                option(value='Male') Male
                option(value='Female') Female
            
            br
            h2  #{var1}
            br
            input.BTNS(type='submit' value='Register')
