extends layout 
block content
    .tohen
      .form_container
        .title_container
          h2 Update my details 
        .row.clearfix
          form(action='/profile' name='my-form1' method='post' onsubmit='return ValidationFunction1()')
            div
              span
                i.fa.fa-envelope(aria-hidden='true')
              input#email.input_field(type='email' name='email' value=userIsLogged.user_email  disabled) 
            br
            div
              span
                i.fa.fa-lock(aria-hidden='true')
              input#password.input_field(type='password' name='password' placeholder='Password' required='')
            br
            div
              span
                i.fa.fa-lock(aria-hidden='true')
              input#repassword.input_field(type='password' name='repassword' placeholder='Type Password Again' required='')
            br
            div
              span
                i.fa.fa-user(aria-hidden='true')
              input#fname.input_field(type='text' name='fname' value=userIsLogged.user_name  disabled)
            br
            div
              select.input_field(name='gender')
                option(value='Other') Other
                option(value='Male') Male
                option(value='Female') Female
            
            br
            h2  #{var1}
            br
            input.BTNS(type='submit' value='UPDATE') 
            span
            a.BTN(href='Profile') Back to your profile 
      
      
      
      
      //- .form_container
      //-   .title_container
      //-     h2 delete my account
      //-   .row.clearfix
      //-     form(action='/profile' name='my-form2' method='post')     
      //-      input.BTNS(type='submit' value='DELETE MY ACCOUNT')

