doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='css.css')
  script(defer='', src='java_script.js')
body(class="body2")
  .homeGrid.nav_grid
    header.container
      h1.logo My Clinic
      nav.nav_bar
        ul
            li
              a(href='http://localhost:8080/Main') Home
            //li
              a(href='http://localhost:8080/SearchAdoctor') Doctor Search
            //li
              a(href='http://localhost:8080/login') Log in
            //li
              a(href='http://localhost:8080/signup') Sign up
            //li
              a(href='http://localhost:8080/contactus') Contact us
            
            if(userIsLogged)
              li
                a(href='http://localhost:8080/profile') Profile
              li
                a(href='http://localhost:8080/contactus') Contact us
              li
                a(href='http://localhost:8080/SearchAdoctor') Doctor Search
              li
                a(href='http://localhost:8080/logout') Log Out
            
            else
              li
                a(href='http://localhost:8080/signup') Sign up
              li
                a(href='http://localhost:8080/login') Log in
            
            
  block content
